body {
margin: 0;
padding: 0;
min-height: 100vh;

background-image: url("PICTURE.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: Arial, sans-serif;
}

.container {
margin: 15px 1;
padding: 25px;
border-radius: 15px;
color: white;
width: 60%;
background-size: cover;
background-position: center;
gap: 20px;
}

.luber {
background-image: url("luber.jpg");
}

.tumulak {
background-image: url("tumulak.jpg");
}

.carl {
background-image: url("carl.jpg");
}

.angeline {
background-image: url("angeline.jpg");
}

.helbert {
background-image: url("helie.jpg");
}

.hannah{
background-image: url("hannah.jpg");
}